*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

.main{
    position: fixed;
    background-color:rgb(201, 200, 200);
    /*background-image: url(images/colosseum_rome.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    filter: brightness(0.7);*/
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
/*.login{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    color: rgb(247, 246, 246);
}*/
.header{
    flex-wrap:wrap;
  justify-content: space-between;
    display: flex;
    color: rgb(0, 0, 121);
    height: 50px;
    width: 100%;
    background-color: gray;
}
.header h1{
    margin: 10px;
}
.menu ul{
    list-style-type: none;

}
.menu li{
    text-decoration: none;
}
.menu a{
    text-decoration: none;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.btn{
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(0, 0, 121);
    color: white;
}
.btn:hover{
    transform: scale(1.1);
    box-shadow: 5px 3px 3px 1px #1e1e1f;
    transition: all 1s;
}
.container{
    display: flex;
}


.image img{
    width: 400px;
    height: 400px;
    margin: 10px;
}
.details{
    margin: auto;
    padding: 10px;
}
.details p{
    display: block;
}
.details span{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.details span .head{
    color:rgb(0, 0, 121) ;
}
.myslide{
    display: none;
}

.slideshow img{
    width: 100%;
    height: 100%;
}

/*.container{
    position: absolute;
    top: 100px;
    width: 100%;
    height: 90vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.form h4{
    margin-top: 10px;
    margin-bottom: 0;
}

.form .submit{
    border-radius: 5px;
    background-color: grey;
    width: 100px;
    font-weight: bold;
    margin-left: 80px;
}
.form .submit:hover{
    border-radius: 3px;
    background-color: gray;
}

.container h5{
    margin: 10px;
    margin-left: 100px;
}
.btn{
    margin-top: 60px;
    font-size: 1.1rem;
    outline: none;
    border: none;
    padding: 5px;
    border: 1px solid lightgrey;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 80%;
}

.btn img{
    width: 30px;
    height:30px;
    margin-left: 5px;
}
.btn:hover{
    border-radius: 15px;
    transform: scale(1.1);
    box-shadow: 10px 5px 5px 3px #1e1e1f;
    transition:all 0.3s;
}
.login{
    text-align: center;
}
.login a{
    text-decoration: none;
    color: red;
    font-size: 20px;
}


/*

.form{
    margin: auto;
    width: 50%;
    padding: 15px;
    /*background-color: rgba(1, 1, 54, 0.863);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}
.formc {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 90vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    /*margin: auto;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 255, 0, 0.0), rgb(0, 119, 255));
}
.input-cnt{
    display: flex;
    margin-bottom: 15px;
}

.input-cnt:last-child{
    margin-bottom: 0px;
}

.input-cnt > i{
    min-width: 40px;
    padding: 10px;
    text-align: center;
    background-color: lightgrey;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #0076ff;
}
.input-cnt:hover > i{
    background-color: #0076ff;
    color: white;
}

.input-cnt > input[type="text"], input[type="password"], .input-cnt > textarea{
    outline: none;
    border: none;
    padding: 10px;
    border: 1px solid lightgrey;
    border-top-right-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
    width: 100%;
}

.textarea-icon{
    padding: 60px 10px !important;
}

.input-cnt > input[type="submit"] {
    border: none;
    border-radius: 20px;
    outline: none;
    width: 75%;
    margin: 0px auto;
    font-size: 105%;
    padding: 8px;
    color: #0076ff;
    background-color: white;
    transition-duration: .5s;
}

.input-cnt > input[type="submit"]:hover {
    color: white;
    background: #0076ff;
}








.lightbox{
    /*opacity: 0;
    z-index: -1;
    top: -100%;
    transition-duration: 1s;
    display: table;
    position: fixed;
    
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.lightbox:target{
    top: 0;
    /*opacity: 1;
    z-index: 1;
}
.lightbox-content{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.close{
    position: absolute;
    top: 10px;
    right: 10px;
}
.close img{
    width: 20px;
    height: 20px;
    background-color: white;
}

.lightbox-content {
    width: 300px;
    height: auto;
}




@media only screen and (max-width:600px) {
    body{
    overflow-x: hidden;
    }
    
    .main{
        background-image: url(images/colosseum1_rome.jpg);
        background-size: 110%;
    }
    .login .header h1{
        font-size: 30px;
    }
    
    .container{
        width: 80%;
    }
    
    .form .submit{
        border-radius: 3px;
        margin-left: 0;
    }
    .container h5{
        margin-left: 0;
    }
    .btn{
        width: 250px;
        border-radius: 10px;
    }
    
    .close{
        left: 0;
    }
    .form{
        width: 80%;
        padding: 5px;
    }
    
    .input-cnt > i{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    .input-cnt > input[type="text"], input[type="password"], .input-cnt > textarea{
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
       
    }
    
    .textarea-icon{
        padding: 60px 10px !important;
    }
    
    .input-cnt > input[type="submit"] {
        border-radius: 10px;
        width: 60%;
    }
    
    
    
       
}*/